<div (click)="editDayItem()" class="table-day-item">
  <span *ngIf="!dayItem || dayItem?.recordSet.length == 0">&nbsp;</span>

  <div *ngFor="let recordItem of dayItem?.recordSet">
    {{recordItem.type.description}} <span *ngIf="recordItem.type.hoursType" class="badge">{{recordItem.hoursCount}}</span>
  </div>

  <modal #dayItemModal>
    <modal-header>
      <div class="col-lg-11" style="font-size: 17px">
        <div class="col-lg-4">
          <b>Dátum</b>&nbsp;&nbsp;{{editedDayItem?.day}}.{{editedDayItem?.month}}.{{editedDayItem?.yearValue}}
        </div>
        <div class="col-lg-8">
          <b>Pracovník</b>&nbsp;&nbsp;{{editedDayItem?.person?.firstName}} {{editedDayItem?.person?.lastName}}
        </div>
      </div>
    </modal-header>
    <modal-content>
      <form #dayItemRecordForm="ngForm" class="form-horizontal row" role="form">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="type" class="col-sm-4 control-label">Typ</label>
            <div class="col-sm-8">
              <select class="form-control" id="type" [(ngModel)]="recordItem.type" name="type" required>
                <option *ngFor="let recordType of recordTypes | excludeExisting : editedDayItem : recordItem"
                        [ngValue]="recordType">
                  {{recordType.description}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <div *ngIf="recordItem.type?.hoursType">
              <label for="hours" class="col-sm-5 control-label">Počet hodín</label>
              <div class="col-sm-5">
                <input type="number" class="form-control" [min]="1" [max]="23" id="hours" name="recordItemHours" required [(ngModel)]="recordItem.hoursCount">
              </div>
            </div>
            <div class="col-sm-2" *ngIf="dayItemRecordForm.form.valid">
              <a style="font-size: 22px;padding-top: 6px" (click)="addRecordItem()">
                <i *ngIf="!recordItem.id" class="fa fa-plus-square"></i>
                <i *ngIf="recordItem.id" class="fa fa-check-square"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-offset-4 col-lg-7" *ngIf="recordItem.type?.code == 'OTHER'">
          <div class="form-group">
            <label for="text" class="col-sm-5 control-label">Text</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="text" [(ngModel)]="recordItem.otherText" name="recordItemText" required>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-condensed table-hover table-bordered table-striped">
            <thead>
            <tr>
              <th>Typ</th>
              <th>Počet hodín</th>
              <th>Text</th>
              <th style="width: 10px"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recordItem of editedDayItem?.recordSet" (click)="editRecordItem(recordItem)">
              <td>{{recordItem.type?.description}}</td>
              <td>
                <span *ngIf="recordItem?.type?.hoursType">{{recordItem.hoursCount}}</span>
                <span *ngIf="!recordItem?.type?.hoursType">-</span>
              </td>
              <td>{{recordItem.otherText}}</td>
              <td>
                <button style="font-size: 13px;" class="btn btn-sm btn-warning" (click)="removeRecordItem(recordItem)"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </modal-content>
    <modal-footer>
      <button type="submit" [disabled]="recordItem?.type && !dayItemRecordForm.form.valid" class="btn btn-primary" (click)="saveDayItem()">Potvrdiť</button>
      <button class="btn btn-default" (click)="close()">Zrušiť</button>
    </modal-footer>
  </modal>
</div >


