@sbb-blue: #63A8DD;

@day-item-set-color: #4dc537;
@day-item-empty-color: #a9a99c;
@weekend-item-set-color: #d84c4c;

@background-color: #efefef;
@border-color: #c7c6c6;

@input-color: #555555;
@input-background-color: #F7F7F7;
@input-disabled-text-color: #000000;
@input-disabled-bg-color: #ffffff;

@input-height: 27px;
