<div (click)="editDayItem()" class="table-day-item">
  <span *ngIf="!dayItem || dayItem?.recordSet.length == 0">&nbsp;</span>

  <div *ngFor="let recordItem of dayItem?.recordSet">
    {{recordItem.type.description}} <span *ngIf="recordItem.type.hoursType">({{recordItem.hoursCount}})</span>
  </div>

  <modal #dayItemModal>
    <modal-header>
      <div class="col-lg-11" style="font-size: 17px">
        <div class="col-lg-6">
          <b>Dátum</b>&nbsp;&nbsp;{{editedDayItem?.day}}.{{editedDayItem?.month}}.{{editedDayItem?.yearValue}}
        </div>
        <div class="col-lg-6">
          <b>Pracovník</b>&nbsp;&nbsp;{{editedDayItem?.person?.firstName}} {{editedDayItem?.person?.lastName}}
        </div>
      </div>
    </modal-header>
    <modal-content>
      <form class="form-horizontal row" role="form">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="type" class="col-sm-4 control-label">Typ</label>
            <div class="col-sm-8">
              <select class="form-control" id="type" [(ngModel)]="recordItemRecordTypeCode" name="type">
                <option *ngFor="let recordType of recordTypes" [value]="recordType.code">{{recordType.description}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <div *ngIf="getRecordTypeByCode(recordItemRecordTypeCode)?.hoursType">
              <label for="hours" class="col-sm-5 control-label">Počet hodín</label>
              <div class="col-sm-5">
                <input type="number" class="form-control has-error" [min]="1" [max]="23" id="hours" name="recordItemHours" required [(ngModel)]="recordItemHours">
              </div>
            </div>
            <div class="col-sm-2">
              <a style="font-size: 22px;padding-top: 6px" (click)="addRecordItem()"><i class="fa fa-plus-square"></i></a>
            </div>
          </div>
        </div>
      </form>
      <table class="table table-condensed table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th>Typ</th>
            <th>Počet hodín</th>
            <th style="width: 10px"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recordItem of editedDayItem?.recordSet">
            <td>{{recordItem.type?.description}}</td>
            <td>
              <span *ngIf="recordItem?.type?.hoursType">{{recordItem.hoursCount}}</span>
              <span *ngIf="!recordItem?.type?.hoursType">-</span>
            </td>
            <td><a style="font-size: 20px;color: orange;" (click)="removeRecordItem(recordItem)"><i class="fa fa-trash"></i></a></td>
          </tr>
        </tbody>
      </table>
    </modal-content>
    <modal-footer>
      <button class="btn btn-primary" (click)="saveDayItem()">Potvrdiť</button>
      <button class="btn btn-default" (click)="close()">Zrušiť</button>
    </modal-footer>
  </modal>
</div >


