<table class="col-lg-12 table-bordered table-responsive table-condensed">
  <thead>
  <tr>
    <th style="width: 15px"></th>
    <th *ngFor="let person of persons">{{person.firstName}} {{person.lastName}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let day of days; let i = index;">
    <td>{{i + 1}}.{{_month}}.</td>
    <td [ngClass]="getTableItemClass(person, i + 1, _month, _year)" *ngFor="let person of persons">
      <emp-attendance-table-item [dayItem]="findDayItem(person, i + 1)"
                                 [day]="i + 1"
                                 [month]="_month"
                                 [yearValue]="_year"
                                 [person]="person">
      </emp-attendance-table-item>
    </td>
  </tr>
  </tbody>
</table>
