<div (click)="dayItemModal.open()">
  <div *ngFor="let recordItem of dayItem?.recordSet">
    {{recordItem.type.description}} <span *ngIf="recordItem.type.hoursType">({{recordItem.hoursCount}})</span>
  </div>
  <modal #dayItemModal>
    <modal-header>
      <div class="col-lg-11" style="font-size: 17px">
        <div class="col-lg-6">
          <b>Datum</b>&nbsp;&nbsp;{{dayItem?.date | date: 'dd.MM.yyyy'}}
        </div>
        <div class="col-lg-6">
          <b>Pracovnik</b>&nbsp;&nbsp;{{dayItem?.person?.firstName}}
        </div>
      </div>
    </modal-header>
    <modal-content>
      <form class="form-horizontal row" role="form">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="type" class="col-sm-5 control-label">Typ</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="type" required>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="hours" class="col-sm-5 control-label">Pocet hodin</label>
            <div class="col-sm-5">
              <input type="number" class="form-control" id="hours" required>
            </div>
            <div class="col-sm-2">
              <a style="font-size: 22px;padding-top: 6px"><i class="fa fa-plus-square"></i></a>
            </div>
          </div>
        </div>
      </form>
      <table class="table table-condensed table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th>Typ</th>
            <th>Pocet hodin</th>
            <th style="width: 10px"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recordItem of dayItem?.recordSet">
            <td>{{recordItem.type?.description}}</td>
            <td>
              <span *ngIf="recordItem?.type?.hoursType">{{recordItem.hoursCount}}</span>
              <span *ngIf="!recordItem?.type?.hoursType">-</span>
            </td>
            <td><a style="font-size: 20px;color: orange;"><i class="fa fa-trash"></i></a></td>
          </tr>
        </tbody>
      </table>
    </modal-content>
    <modal-footer>
      <button class="btn btn-primary" (click)="dayItemModal.close()">Potvrdit</button>
      <button class="btn btn-default" (click)="dayItemModal.close()">Zrusit</button>
    </modal-footer>
  </modal>
</div >


